body{
    background-color: rgb(20, 20, 20);

}
.header_outer_container{
    width: 100%;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(148, 132, 132); */
    background-color: rgb(20, 20, 20);
    background-color:  transparent;
    height: 10vh;
    color: aliceblue;
    transition: all 0.5s;
    transition-timing-function: ease-in;
    z-index: 1;
    /* background-color: #f47575; */

}
.nav_black{
    background-color: rgb(20, 20, 20);

}
.header_container{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid red; */
    

}
.header_left ul{
 width: 140%;
 display: flex;
 align-items: center;
 list-style: none;
 cursor: pointer;
 /* border: 2px solid red; */


}
.header_left ul li{
    margin-left: 3%;
}
.Logo{
    width:6.5vh; ;
}
.header_right ul {

    list-style: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 20px;

}
.header_right ul li{
    margin-left: 20px;
    font-size: 20px;
    /* margin-left: 20%;
    font-size: 20px; */
}
