.footer_outer_container{
    width: 100%;
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    color: grey;
    font-family: "lexend", sans-serif;
    font-size: 14px;
}   
.footer_inner_container{
  width:60%;
  /* border: 2px solid red; */

}
.footer_icons{
width: 12%;
display: flex;
justify-content: space-between;
margin-left:5%;
color: #fff;
    cursor: pointer;

}
.footer_icons i{
    cursor: pointer;
    font-size: 150%;
}
.footer_data{
    display: flex;
    justify-content: space-between ;
    
}
.footer_data ul{
    list-style: none;
    display: flex;
    flex-direction: column;
   height: 12vh;
}
.footer_data ul li{
  
    cursor: pointer;
}
.service_code p{
  
    border: 1px solid grey;

    justify-content: center;
    text-align: center;
    cursor: pointer;
    width: 10%;
    height: 4vh;
    margin-left: 5%;
    cursor: pointer;
    font-size: 12px;
    line-height: 4vh;
}
.copy-right{
    margin-bottom: 10px;
    font-size: 12px;
    margin-left: 5%;

}
