@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --primary-color: #e50914;
  --background-color: #141414;
  --text-color: #111;
  --font-base: 'lexend', sans-serif;
  --font-base: 'inter', sans-serif;
  --primary-color: #ffffff;
  --secondary-color: #e50914;

}
body {
  font-family: 'lexend', sans-serif;
}
